---
extends: default

rules:
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
    min-spaces-from-content: 1
  line-length: disable
  document-start: disable
  truthy:
    level: error
    allowed-values:
      - "yes"
      - "no"
      - "true"
      - "false"
      - "True"
      - "False"
