## 修改本机 /etc/hosts 
ANSIBLE_BECOME_PASS=

## walle 阿里云镜像库的密码
ALIYUNCS_USER=
ALIYUNCS_PASSWORD=

## aliyun key and secret
ALI_KEY=
ALI_SECRET=

## ansible default key file
ANSIBLE_SSH_PRIVATE_KEY_FILE=~/.ssh/id_rsa

## pudongbus
PUDONGBUS_AUTH_JWT=xxxxxxxxxxx
PUDONGBUS_MONGODB_CONNECTION=mongodb://xxxxxxxxxxxxxxx

## basic auth
BASIC_AUTH_ZZS_PASSWD=xxxxxxxxxxx
BASIC_AUTH_CHENCHEN_PASSWD=xxxxxxxxxxx

## mongodb
MONGODB_ROOT_PASSWORD=it_is_a_secret

## catl password
CATL_PASSWORD=1111
