---
apiVersion: v1
kind: Service
metadata:
  name: bus-pile
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 3000
      protocol: TCP
  selector:
    app: bus-pile
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: bus-pile
spec:
  replicas: {{ bus_pile_replicas }}
  minReadySeconds: 5
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      app: bus-pile
  template:
    metadata:
      labels:
        name: bus-pile
        app: bus-pile
        vector.dev/enable: "true"
    spec:
      containers:
        - name: bus-pile
          image: registry.cn-hongkong.aliyuncs.com/36node/bus-pile:{{ bus_pile_version }}
          env:
            - name: MANUAL_UPDATE
              value: "20210507"
            - name: PORT
              value: "3000"
            - name: BASE
              value: /pile/v0
            - name: MONGODB_CONNECTION
              value: "{{ bus_pile_mongodb }}"
            - name: SAVE_NOTIFICATIONS
              value: "false"
            - name: SKIP_TELAIDIAN_AUTH
              value: "true"
            - name: TELAIDIAN_OPERATOR_SECRET
              value: "36node"
            - name: TELAIDIAN_ACCESS_TOKEN
              valueFrom:
                secretKeyRef:
                  name: bus-auth
                  key: auth_token
            - name: LOG_LEVEL
              value: info
          command: 
            - node
          args:
            - dist/server.js
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP

