---
apiVersion: v1
kind: Service
metadata:
  name: bus-op
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 3000
      protocol: TCP
  selector:
    app: bus-op
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: bus-op
spec:
  replicas: {{ bus_op_replicas }}
  minReadySeconds: 5
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      app: bus-op
  template:
    metadata:
      labels:
        name: bus-op
        app: bus-op
        vector.dev/enable: "true"
    spec:
      containers:
        - name: bus-op
          image: "registry.cn-hongkong.aliyuncs.com/36node/bus-op:{{ bus_op_version }}"
          env:
            - name: MANUAL_UPDATE
              value: "20210321"
            - name: PORT
              value: "3000"
            - name: BASE
              value: /op/v0
            - name: MONGODB_CONNECTION
              value: "{{ bus_op_mongodb }}"
            - name: KAFKA_BROKER_LIST
              value: "{{ kafka_bootstrap_server }}"
            - name: KAFKA_GROUP_ID
              value: "{{ namespace }}-bus-op-consumer"
            - name: KAFKA_EVENT_TOPIC
              value: "{{ bus_event_topic }}"
            - name: LOG_LEVEL
              value: info
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
